obj/Debug/netcoreapp1.1/listOperation.pdb
bin/Debug/netcoreapp1.1/listOperation.deps.json
bin/Debug/netcoreapp1.1/listOperation.dll
bin/Debug/netcoreapp1.1/listOperation.pdb
bin/Debug/netcoreapp1.1/listOperation.runtimeconfig.dev.json
bin/Debug/netcoreapp1.1/listOperation.runtimeconfig.json
obj/listOperation.csproj.nuget.g.props
obj/listOperation.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
obj/Debug/netcoreapp1.1/listOperation.AssemblyInfo.cs
obj/Debug/netcoreapp1.1/listOperation.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp1.1/listOperation.dll
